#partx {
  background-image: url("./img/first.jpeg"); /* Update the path to your image file */
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-top: -10%;
  margin-right: -10px;
}

body{
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  

}
.theme{
    position: fixed;
    background: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-image:url('../img/pngwing.com.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.theme:hover{
    opacity:0.6;
}
form{
    display: flex;
}
form input,.parts input{
    border: lime  1px solid;
    margin-left: 10px;
    border-radius: 20px;
    height: 30px;
}

.search,.parts input{
    cursor: pointer;
    background-color: lime;
    width: 100px;
  
    color: white;
}
.search:hover{
    opacity:0.7;
}

a{
    padding:10px;
    color:black;
    text-decoration: none;
    font-size: larger;
    font-weight:bold;

}
a:hover{
    color:rgb(199, 135, 18) ;

}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav img{
width: 45px;
height: auto;

}
#part4{
    margin-block: 50px;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 20%;
}


#pic1{
    padding-inline: 10px;
}
#part4{
    margin-top:10%;
    margin-right:50%;
 
  overflow: hidden;
}
#part4 p{
    padding-inline: 130px;
    color:lime;
    position: sticky;
}
#part4 h1{
    margin-top: 45%;
    margin-left: 30px;
    font-family: "copperplate",fantasy;
    font-size: 50px;
    
}
#part4 span{
    color:rgb(15, 117, 15);
}



.titled{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    font-size: 17px;

}
footer ul{
    font-size: 10px;
    padding: 0;
}
.social-icons{
    font-size: 20px;
}
.category-card {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin: 10px;
  }
  .cat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:10%;
  }

  .category-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .category-card:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  
  .category-card .category-title {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 20px;
    color: lime;
  }
  
  .category-card .see-more-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: lime;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .category-card .see-more-button:hover,.card:hover {
    background-color: #00b300;
    color: white !important;
  }
  .category-card .category-title {
      margin: 15px 0;
      padding: 0 20px;
      font-size: 20px;
      color: lime;
  }
  
  .category-card .see-more-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: lime;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  button{
    background: none;
    border: none;
  }
 nav svg{
    height: 25px;
    width: 25px;
  }
  ul a{
    color:black;
    text-decoration: none;
  }